:root{
  --main-font-family: 'Fira Code', monospace;
  --second-font-family: 'Roboto', sans-serif;
}
body {
  margin: 0px auto;
  max-width: 1300px;
  font-family: var(--main-font-family);
  background-color: rgb(13, 15, 17);
}
.nav-center{
  padding: 20px 18px;
  height: 90px;
  /* background-color: white; */
  z-index: 10;
  top: 0;
  left: 0;
}
.nav-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 700;
}
.nav-toggle {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  background-color: rgb(13, 15, 17);
  cursor: pointer;
  border: none;
  padding-right: 0px;
}
.nav-toggle:hover {
  color: rgb(49, 130, 206);
}
.show-link-container{
  display: block;
  justify-items: center;
  text-align: right;
  z-index: 10;
  background-color: rgb(13, 15, 17);
  color: white;
}
.link-container{
  display: none;
}
a{
  text-decoration: none;
  color: white;
  font-family: var(--main-font-family);
}
a:hover{
  color: rgb(49, 130, 206);
  cursor: pointer;
}
button {
  font-family: var(--main-font-family);
  color: rgb(13, 15, 17);
  background-color: white;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 2px;
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.2em;
}
button:hover{
  color: white;
  background-color: rgb(13, 15, 17);
}
ul{
  list-style-type: none;
  display: block;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  margin-right: 3px;
}
li{
  margin-top: 15px;
  height: auto;
  width: auto;
}

@media screen and (min-width: 1140px) {
  .nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    height: 90px;
    /* background-color: white; */
    z-index: 10;
    top: 0;
    left: 0;
  }
  .nav-header{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle:hover {
    color: rgb(49, 130, 206);
  }
  .link-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: var(--main-font-family);
  }
  a:hover{
    color: rgb(49, 130, 206);
    cursor: pointer;
  }
  button {
    font-family: var(--main-font-family);
    color: rgb(13, 15, 17);
    background-color: white;
    padding: 10px 12px;
    font-weight: 700;
    border-radius: 2px;
    border: 1px solid;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.2em;
  }
  button:hover{
    color: white;
    background-color: rgb(49, 130, 206);
  }
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
  }
  li{
    margin-top: 0px;
    margin-left: 25px;
    height: auto;
    width: auto;
  }
}