:root{
  --main-font-family: 'Fira Code', monospace;
  --second-font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--main-font-family)
}
